<span page-title>{{ 'Samples' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Samples' | translate }}
  </div>

  <div data-block="messages">
    <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>
  </div>

  <div data-block="actions">
    <button class="btn btn-primary" bst-feature-flag="custom_samples" ui-sref="samples.new" ng-hide="denied('create_samples')">
      <i class="fa fa-plus"></i>
      {{ "New Sample" | translate }}
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Samples<span bst-feature-flag="custom_samples">, you can add Samples using the button on the right</span>.
  </span>

</div>
