<table class="table table-striped" ng-class="{'table-mask': table.working}">
  <thead>
    <tr bst-table-head row-select>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
      <th bst-table-column="description"><span translate>Description</span></th>
      <th bst-table-column class="number-cell"><span translate>Number</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat="sample in table.rows" row-select="sample">
      <td bst-table-cell>
        <a ui-sref="samples.details.info({sampleId: sample.id})">
          {{ sample.name }}
        </a>
        <i class="fa fa-chevron-right selected-icon" ng-show="sample.selected"></i>
      </td>
      <td bst-table-cell>{{ sample.description }}</td>
      <td bst-table-cell class="number-cell">{{ sample.number }}</td>
    </tr>
  </tbody>
</table>
