<span page-title ng-model="sample">{{ 'Details for Sample:' | translate }} {{ sample.name }}</span>

<div alert type="'info'">
  <p translate>
    Samples are not very useful in general. However, any sample named {{ sample.name }} is!
  </p>
</div>

<section>
  <div class="details pull-left">
    <section>
      <div class="detail">
        <span class="info-label" translate>Name</span>
        <span class="info-value"
              bst-edit-text="sample.name"
              readonly="denied('edit_samples', sample)"
              on-save="save(sample)">
        </span>
      </div>

      <div class="detail">
        <span class="info-label" translate>Description</span>
        <span class="info-value"
              bst-edit-textarea="sample.description"
              readonly="denied('edit_samples', sample)"
              on-save="save(sample)">
        </span>
        </div>

      <!-- TODO: how to edit number w/ bst-edit-?? -->
      <div class="detail">
        <span class="info-label" translate>Number</span>
        <span class="info-value"
              bst-edit-number="sample.number"
              readonly="denied('edit_samples', sample)"
              on-save="save(sample)"
              min="1"
              max="2147483648"
              required>
        </span>
      </div>
    </section>
  </div>
</section>
