<span page-title>{{ 'Sample Models' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="header">
    {{ 'Sample Models' | translate }}
  </div>

  <div data-block="messages">
    <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>
  </div>

  <div data-block="actions">
    <button class="btn btn-primary" bst-feature-flag="custom_sample_models" ui-sref="sample-models.new" ng-hide="denied('create_sample_models')">
      <i class="fa fa-plus"></i>
      {{ "New Sample Model" | translate }}
    </button>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Sample Models<span bst-feature-flag="custom_sample_models">, you can add Sample Models using the button on the right</span>.
  </span>

</div>
